/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text:#111;
	--color-background:white;
	--eftelingkleur:#b71234; 
	--achtergrond-kleur:#FAFAF7;
	--footer-routekleur:#737373;
	--footer-vragenkleur:#4d3928 ;
}





/****************/
/* JOUW STYLING */
/****************/
/* header*/
header{
	background-color: var(--color-background);
	height: 3em;             
    width: 100%;  
	display: flex;  
	align-items: center;        
    padding: 0 1em;
	position: fixed;
	z-index: 1000;                           
    top: 0;                                      
    left: 0;  
  	justify-content:space-between;
  	position:sticky;

	
 
    
	
}
header img{ 
	margin-top: 1.5em;
	margin-bottom: 1em;
	width: 6em;                
    height: auto;  
}
header button {
	padding:.5em;
	
	/* icon en tekst met gap-je naast elkaar */
	display:flex;
	align-items:center;
	gap:.25em;
	
	/* standaard styling aanpassen */
	appearance:none;
	background-color:transparent;
	border:none;
	border-radius:.25em; 
	font:inherit;
	text-align:center;
	color:var(--button-color);
  }
  
  header button img {
	width: 1em;
	margin-bottom: 1.3em;
  }
  nav button {
	justify-self:start;
   }
   nav {
	padding:1em;
	
	display:grid;
	align-content:start;
	gap:1em;
	
	background-image:var(--menu-gradient);
	
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color: var(--color-background);
	translate:100% 0%;
	transition:translate .3s;
}
nav.toonMenu {
	translate:0% 0%;
  }

  
	


/* Main joris en de draak*/

/* p en htjes*/
body{
	background-color:var(--achtergrond-kleur);
}

p{
	font-family:"ff-ernestine-pro",sans-serif;
	line-height: 1.75;
	font-size: 16px;
	
	
	

	
}
h2{
	font-family:"ff-ernestine-pro",sans-serif;
	font-size: 1.2em;
	margin-top: 2em;
	margin-bottom: 0.2em;
	color:var(--eftelingkleur);

}
h3{
	font-family:"ff-ernestine-pro",sans-serif;
	font-weight: 400;
	font-size: 24px;
	color:var(--eftelingkleur);

}
section{
	position: relative;
	display:flex;
	flex-direction:column;
	text-align: center;
	
	
}
/* joris en de draak vidoe met tekst er over heen */
h1{
	font-family:"ff-ernestine-pro",sans-serif,sans-serif;
	font-size: 1.5em;
	color: white;
	margin-bottom:-1em;

}
#myVideo {
    width: 100%;
    height: auto;
	
}

.tekstoverlay{
left:1em; right:1em; top:1em; bottom:1em;
display: flex;
justify-content: center;
flex-direction: column;
z-index: 13;
position: absolute;


}
#overlay{
	font-family:"wreath",sans-serif;
	color: white;
	font-size: 2em;
	line-height: 1.5;
	
}

/* content joris en de draak*/
.columnjorisendraak{
	display: grid;
	grid-template-columns:1fr 1fr;
	gap:1em;
	width: 97vw;
	
}
.columnjorisendraak img {
	width: 100%;
	height: auto;
}

.columnjorisendraak img:first-child {
    grid-column:span 2;
}







/* content dat links staat*/
.goedomteweten{
	position: relative;
	display:flex;
	flex-direction:column;
	text-align:start;
	margin-left: 1em;
	
	

}

.goedomteweten ul{
	display:grid;
	grid-template-columns:1fr;
	border: 2px solid #ede5d5;
	background-color:var(--achtergrond-kleur);
	border-radius: 0.5em ;
	line-height: 2.5;
	

	



}

	
.linkscontent{
	position: relative;
	display:flex;
	flex-direction:column;
	text-align:start;	
}
.linkscontent h3{
	color: var(--footer-vragenkleur);
	font-size: 1em;
	font-weight: bold;
	

}
.linkscontent img{
	margin: 0.5em;
}
.linkscontent a{
	background-color: white;
	border:2px solid #ede5d5;
	color: var(--eftelingkleur);
	font-family:"ff-ernestine-pro",sans-serif;
	padding:0.5em;
	border-radius: 0.5em;
	text-decoration: none;
	font-weight: bold;
	margin-right: 18em;

}	

/*download app*/
.downloadapp{
	display: flex;
	flex-direction:column;
	align-items: start;
	text-align: start;

}
.downloadapp img{
	width: 100%;
}
.downloadapp a{
	background-color: white;
	border:2px solid #ede5d5;
	color: var(--eftelingkleur);
	font-family:"ff-ernestine-pro",sans-serif;
	padding:1em;
	border-radius: 0.5em;
	text-decoration: none;
	font-weight: bold;
	


}
/* Atracties */

.carrousel ul {
	width: 100%;
	display: flex;
	overflow-x: auto;
	gap: 1em;
}

.carrousel ul li{
	width: 100vw;
	list-style: none;
}

.carrousel ul li img{
	width: 17em;
	border-radius:0.5em;

}








/* footer */
footer section{
	display: flex;
	align-items: flex-start;
	background-color:var(--color-background);
	border-top:2px solid#ede5d5 ;

	

}
.route ul{
	display: flex;
	flex-direction: row;
	margin-top: 0.5em;
	margin-bottom:0.5em ;
	list-style-type: none;
}
.route li{
	margin: 1em;
	font-family:"ff-ernestine-pro",sans-serif ;
	color: var(--footer-routekleur);
}
.route a{
	text-decoration: none;
	color:var(--footer-routekleur)
}
.vragen{
	display: flex;
	justify-content: flex-start;

	
}

.vragen a{
	color: var(--footer-vragenkleur);
	margin-bottom: 2em;
	font-size: 14px;
	
	
}
.vragen p{
	margin-top: 2em;
	margin-bottom: 0.5em;
	font-size: 14px;
}
.vragen span{
	color: var(--footer-vragenkleur);
	font-weight: bold;
	font-size: 14px;

}
.uitklap{
	display: flex;
	text-align: start;
}
.uitklap strong{
	color: var(--footer-vragenkleur);
	font-size: 14px;
	


}
.uitklap details{
	display: flex;

	text-align:left;
	margin-top:  2em;
	

	
}

.uitklap a{
	margin-bottom: 1em;
	margin-top: 1em;
	list-style-type: none;
	color: var(--footer-vragenkleur);
	text-decoration: none;
}
.uitklap p{
	font-size: 14px;
	color: var(--footer-vragenkleur);
}
.buttonfooter{
	background-color: var(--eftelingkleur);
	text-decoration: none;
	margin: 10px 0px 0px;
	padding: 1em;
	margin-right: 24em;
	font-size: 16px;
	border-radius: 0.5em;
	

}
.media{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;

	
}
.media img{
	margin: 0.5em;
	width: 8em;
}
.prijzen{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	text-align:left;


}

.prijzen ul li{
	list-style: none;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	color: var(--footer-vragenkleur);
	
	
	
}
.prijzen a{
	text-decoration: none;
	color: var(--footer-vragenkleur);

}



/* Bezoekers met een bepering paginaa */

.bezoekersbeperking h1{
left:1em; right:1em; top:1em; bottom:1em;
display: flex;
justify-content: center;
flex-direction: column;
z-index: 13;
position: absolute;
font-family:"wreath",sans-serif;
font-size: 2em;


}
.bezoekersbeperking img{
	width: 100%;
    height: 17em;
	position: relative;
	object-fit: cover;
	filter: brightness(0.7);


}


.Gasnelnaarlijst{
	display: flex;
	text-align: left;
	border: 2px solid #ede5d5;
	border-radius: 0.5em ;
	border: 2px solid #ede5d5;
	background-color: white;
	border-radius: 0.5em ;
	line-height: 2.5;

}
.Gasnelnaarlijst h2{
	font-size: 16px;
	margin-top: 1em;
	margin-left: 1em;
}
.Gasnelnaarlijst a{
	color: var(--footer-vragenkleur);
}




.atractietoegang img{
	width: 100%;
    height: auto;
	

}
.atractietoegang div{
left:1em; right:1em; top:1em; bottom:1em;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 13;
position: absolute;

}
.atractietoegang h3{
	color: var(--color-background);
	font-size: 1.5em;
}
.atractietoegang a{
	background-color: transparent;
	border:2px solid white;
	color: var(--color-background);
	font-family:"ff-ernestine-pro",sans-serif;
	padding:1em;
	border-radius: 0.5em;
	margin-left: 8.5em;
	margin-right: 8.5em;
	text-decoration: none;
	
}



/* foto met tekst */
.carrousel-2 ul{
	width: 100%;
	display: flex;
	overflow-x: auto;
	gap: 1em;
}
.carrousel-2{
	display: flex;
	text-align: left;
}


.carrousel-2 ul li{
	width: 100vw;
	list-style: none;
}
.carrousel-2 img{
	width: 26em;
}
.carrousel-2 li:first-child img {
	width: 26em;
	margin-left: -2.5em;
}

.carrousel-2 a{
	background-color: white;
	border:2px solid #ede5d5;
	color: var(--eftelingkleur);
	font-family:"ff-ernestine-pro",sans-serif;
	padding:0.5em;
	border-radius: 0.5em;
	text-decoration: none;
	font-weight: bold;
	margin-right: 19em;

}
.bezoekplannen div{
left:1em; right:1em; top:1em; bottom:1em;
display: flex;
justify-content: center;
flex-direction: column;
z-index: 13;
position: absolute;
color: var(--color-background);

}
.bezoekplannen h2{
	color: var(--color-background);
	text-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
	font-size: 1.1em;
	font-family:"ff-ernestine-pro",sans-serif ;
	line-height: 1.5;

}
.bezoekplannen p{
	text-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
}
.bezoekplannen a{
	background-color: transparent;
	border:2px solid white;
	color: var(--color-background);
	font-family:"ff-ernestine-pro",sans-serif;
	padding: 1em;
	margin-left: 8em;
	margin-right: 8em;
	
	border-radius: 0.5em;
	text-decoration: none;
}
.bezoekplannen img{
	filter: brightness(0.7);

}





/*ErnestineWeb-Bold,verner,

<link rel="stylesheet" href="https://use.typekit.net/isd2gfc.css">*/







/* hulpmiddeltjes.....*/

/* border: 3px solid hotpink;*/